<% include ./partials/_header %>
<html>
<body>
  <h2>Log In </h2>
    <form method="POST" action="/login" display="inline">
    <label for="longURL">Email:</label>
    <input class="form-control" type="text" name="email" placeholder="email" style="width: 300px; margin: 0.5em">
    <label for="longURL">Password:</label>
    <input class="form-control" type="text" name="password" placeholder="password" style="width: 300px; margin: 0.5em">
    <p></p>
    <p><button type="submit" class="btn btn-primary"> Submit </button></p>
    </form>
</body>
</html>
