
<% include ./partials/_header %>
<body style="font-size:20px; padding:50px;">
  <h2>Tiny App</h2>


  <p>TinyURL for <a href=  <%= longURL %> > <%= longURL %> </a></p>

  <p> <%= shortURL %> </p>

  </ul>

</body>
</html>
